<ul>
<li>
    {{qs.id}}
</li>
<li>
    {{qs.emp_name}}
</li>
<li>
    {{qs.emp_position}}

</li>
<li>
    {{qs.dept}}
</li>
</ul>






<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
<table style="width:100%">
  <thead>
    <tr>
      <th>EMPNAME</th>
      <th>DEPARTMENT</th>
      <th>POSITION</th>
      <th>VIEW DETAIL</th>
      <th>UPDATE</th>
      <th>DELETE</th>
       
    </tr>
  </thead>
  <tbody>
{% for ans in ans %}
    <tr>
        <td>{{qs.id}}</td>
        <td>{{qs.emp_name}}</td>
        <td>{{qs.emp_position}}</td>
        <td>{{qs.emp_position}}</td>
      </tr>
{% endfor %}
  </tbody>
 </table>
</div>

</body>
</html> -->
